//
// Layout
// =================================================


html, body { 
  height: 100%;     
  background: url(/images/bg.png) no-repeat right top;
  background-attachment: fixed;
  background-color: #f5f7f9;
}

.container {
  position: relative;
  min-height: 100%;
}


// Header Section
// --------------------------------------------------
.header-inner {
  margin: 0 auto;
  padding: 30px 0 50px;
  width: $main-desktop;

  .one-column & { width: $content-desktop; }
  +desktop-large() {
    .one-column & { width: $content-desktop-large; }
  }
}

// Main Section
// --------------------------------------------------
.main { padding-bottom: $footer-height + $gap-between-main-and-footer; }
.main-inner {
  margin: 0 auto;
  width: $content-desktop;

  .one-column & { width: $content-desktop; }
  +desktop-large() {
    .one-column & { width: $content-desktop-large; }
  }
  
}

.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}

.content-wrap {
  float: right;
  box-sizing: border-box;
  padding: 0 40px 40px;
  width: 700px;
  background: #fff;
}



// Footer Section
// --------------------------------------------------
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    border-top: 1px solid #ddd;
}
.footer-inner {
  margin: 20px auto;
  width: $main-desktop;

  .one-column & { width: $content-desktop; }
  +desktop-large() {
    .one-column & { width: $content-desktop-large; }
  }
}
